*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    height: 80px;
    width: 100%;
    background-color: #abb8c3;
}
article{
    float: left;
}
header .head{
    padding: 9px 0 0 180px;
    height: 20px;
    width: 40px;
}
.raja{
    color: #fcb900;
    font-style: italic;
    padding: 0 0 0 0;
}
header .navibar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px 10px 0 0;
    position: relative;
    left: 320px;
    top: 10px;
}
header .cv button{
    padding: 10px;
    background-color: #fcb900;
    color: white;
    position: relative;
    left: 380px;
    border-radius: 5px;
    border-color: #fcb900;
    top: 12px;
    height: 50px;
    width: 120px;
    font-weight: 700;
}
header .cv button:hover{
    height: 60px;
    width: 130px;
}
header .navibar a{
    text-decoration: none;
    padding: 30px;
    color: black;
}
header .navibar a:hover{
    color: #f9c349;
}
header article a{
    text-decoration: none;
    color: white;
}
main{
    height: 280px;
    width: 100%;
    padding-top: 50px;
}
main .profileimg img{
    height: 300px;
    width: 300px;
    border-radius: 180px;
    float: left;
    position: relative;
    left: 300px;
}
main .details{
    float: right;
    height: 400px;
    width: 550px;
    position: relative;
    right: 350px;
    top: 10px;
}
main .details .course .web h2{
    color: #f9c349;
}
main .details .course .web p{
    line-height: 25px;
}
main .details .course .web button{
    height: 40px;
    width: 120px;
    background-color: #fcb900;
    border-color: #fcb900;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
    transition: all;
}   
main .details .course .web button:hover{
    width: 120px;
    height: 40px;
}
main .details .course .web button a{
    text-decoration: none;
    color: white;
}
main .details .course .java h2{
    color: #f9c349;
    padding-top: 10px;
}
main .details .course .java p{
    line-height: 25px;
}
main .details .course .java button{
    height: 40px;
    width: 120px;
    background-color: #fcb900;
    border-color: #fcb900;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
    transition: all;
}
main .details .course .java button:hover{
    width: 130px;
    height: 40px;
}
main .details .course .java button a{
    text-decoration: none;
    color: white;
}
footer{
    height: 50px;
    width: 100%;
    clear: both;
    background-color: #abb8c3;
}
footer p{
    text-align: center;
    padding-top: 15px;
}